.App {
  text-align: center;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
  padding-bottom: 2rem;
  padding: 0.5rem;
  border-bottom-style: solid;
}

.Home img {
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.articles-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}

.article-list-card {
  border-top-style: solid;
  border-width: 0.25rem;
  padding-bottom: 2rem;
}

.articles-list li {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.article-votes-comments {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.topics-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding-inline-start: 0;
}

.article-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
  padding-left: 1rem;
  padding-right: 1rem;
}

.article-card-meta {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}

.comments-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.comments-list {
  list-style: none;
  padding-inline-start: 0rem;
}

.comment-list-card {
  border-top-style: solid;
  border-width: 0.25rem;
  padding-bottom: 2rem;
}

.comment {
  background-color: antiquewhite;
}

.comment-meta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.users-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
}

.users-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-style: solid;
  padding: 0.5rem;
}

.avatar-img {
  float: left;
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}
